<%layout("/layouts/boilerPlate")%>
<body>
  <h3 class="my-4">Create a New Listing</h3>
  <form method="POST" action="/listings" class="border p-4 mb-5 rounded needs-validation" novalidate>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Enter Title</label
      >
      <input
        name="listing[title]"
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="enter title"
        required
      />
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please choose title.
      </div>
    </div>
    <!-- <input  placeholder="enter title" type="text" /> -->

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">
        Description</label
      >
      <textarea
        name="listing[description]"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        required
      ></textarea>
      <div class="invalid-feedback">
        Please write description.
      </div>
    </div>
    <!-- <textarea
        name="listing[description]"
        placeholder="enter description"
      ></textarea> -->

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Enter Image</label
      >
      <input
        name="listing[image]"
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="enter image URL/Link"
      />
      <div class="invalid-feedback">
        Please choose image.
      </div>
    </div>
    <!-- <input
        name="listing[image]"
        placeholder="enter image URL/Link"
        type="text"
      /> -->
    <div class="row">
      <div class="col-lg-4">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Price</label>
          <input
            name="listing[price]"
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="enter price"
            required
          />
          <div class="invalid-feedback">
            Please enter price.
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Country</label
          >
          <input
            name="listing[country]"
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="enter country"
            required
          />
          <div class="invalid-feedback">
            Please choose a country.
          </div>
        </div>
      </div>
    </div>

    <!-- <input name="listing[price]" placeholder="enter price" type="number" /> -->

    <!-- <input name="listing[country]" placeholder="enter country" type="text" /> -->

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Enter location</label
      >
      <input
        name="listing[location]"
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="enter location"
        required
      />
      <div class="invalid-feedback">
        Please choose a location.
      </div>
    </div>
    <!-- <input
        name="listing[location]"
        placeholder="enter location"
        type="text"
      /> -->

    <button class="btn btn-dark">Add</button>
  </form>
</body>
