body{
    background-color: pink;
}
.navbar{
    height: 5rem;
}
.listingCard{
    border: none!important;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.card-img-top{
    width: 100% !important;
    object-fit: cover !important;
    height: 20rem !important;
    border-radius: 0.4rem !important;

}